[submodule "submodules/ftrack-connect"]
	path = submodules/ftrack-connect
	url = https://bitbucket.org/ftrack/ftrack-connect.git
[submodule "submodules/ftrack-connect-maya"]
	path = submodules/ftrack-connect-maya
	url = https://tokejepsen@bitbucket.org/ftrack/ftrack-connect-maya.git
[submodule "submodules/ftrack-connect-nuke"]
	path = submodules/ftrack-connect-nuke
	url = https://tokejepsen@bitbucket.org/ftrack/ftrack-connect-nuke.git
[submodule "submodules/pyblish-base"]
	path = submodules/pyblish-base
	url = https://github.com/pyblish/pyblish-base.git
