[submodule "submodules/ftrack-connect"]
	path = submodules/ftrack-connect
	url = https://bitbucket.org/ftrack/ftrack-connect.git
[submodule "submodules/ftrack-connect-maya"]
	path = submodules/ftrack-connect-maya
	url = https://tokejepsen@bitbucket.org/ftrack/ftrack-connect-maya.git
